default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: dreamteam_development

test:
  <<: *default
  database: dreamteam_test

production:
  <<: *default
  database: dreamteam_production
  username: dreamteam
  password: <%= ENV['DREAMTEAM_DATABASE_PASSWORD'] %>
