@import 'mui';


#sidebar {
  // float: right;
  background-color: rgb(96, 144, 207);
  padding: 15px;
  margin-left: 85%;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 180px;
    height: 100%;
    padding-top: 30px;
  }
}

/**
 * Content CSS
 */
@media (min-width: 768px) {
  #content {
    margin-left: 180px;
  }
}
