@import 'mui';


#sidebar {
  // float: right;
  background-color: rgb(96, 144, 207);
  padding: 15px;
  margin-left: 80%;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    padding-top: 30px;
  }
}

/**
 * Content CSS
 */
@media (min-width: 768px) {
  #content {
    margin-left: 180px;
  }
}

  // #appbar
  .mui--appbar-height {
    background-color: rgb(96, 144, 207);
    margin-bottom: 50%;
  }

//   #logo {
//     color: white;
//   }
//
//   #register {
//     color: #0060B6;
//     text-decoration: none;
// }
//
// #register :hover
// {
//      color:#00A0C6;
//      text-decoration:none;
//      cursor:pointer;
// }
//
//   #login {
//     background-color: white;
//   }

  header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: white;
}

header table {
  width: 100%;
}
